.Navbar {
  border-bottom: 1px solid #ccc;
  display: flex;
}
.Navbar h1 {
  text-align: left;
  margin-left: 1em;
}
.Navbar a, .Navbar a:visited, .Navbar a:active {
  text-decoration: none;
  color: #333;
}
.Navbar .breadcrumb {
  font-size: small;
  color: #999;
}
.Navbar .search {
  flex: 1;
  text-align: right;
  margin: 1em;
  font-size: small;
}
