.Stock {
  display: flex;
}
.Stock .code {
  font-size: xx-large;
}
.Stock .change {
  margin-top: 1em;
}
.Stock .right {
  flex: 1;
  text-align: right;
}
.Stock .right table {
  width: 100%;
}
.Stock .right td {
  line-height: 2em;
}
