.Home h1 {
  text-align: center;
  margin-top: 2em;
  font-size: 4em;
}
.Home .search {
  text-align: center;
}
.Home .search input, .Home .search .button {
  font-size: inherit;
  padding: 1em;
  margin: 0 0.5em;
  text-decoration: none;
}
.Home .search input {
  width: 20em;
}
.Home .search .button {
  border: 1px solid grey;
  color: #333;
  background-color: #ccc;
}
